body {
    color: black;
    margin: 5%;
    margin-top: 5%;
    width: 90%;
    font-family: 'Times New Roman', Times, serif;
    font-size: small;
 }

 /* Links */
a {
    color: #0366d6;
    text-decoration: none;
}

a:visited {
    color: #0366d6;
}

a:hover {
    color: #0366d6;
    text-decoration: underline;
}

/* Images */
img.rounded-corners {
    /*border-radius: 0 50% 50% 50%;*/
    border-radius: 50%;
  }


/* Custom containers */
#container {
    width: 75%;
    padding: 5%;
    margin: 5%;
}

#sidebar {
    float: right;
    width: 35%;
    background: #F5F5F5;
    padding: 5%;
    margin: 5%;
    clear: right;
}

#content {
    overflow: hidden;
    padding: 5%;
    margin: 5%;
}
 