body {
    color: black;
    margin: 5%;
    margin-top: 5%;
    width: 90%;
    font-family: 'Times New Roman', Times, serif;
    font-size: small;
 }

#content h2 {
    margin-bottom: 10px; /* adjusting margin after h2 */
}

 /* Links */
a {
    color: #0366d6;
    text-decoration: none;
}

a:visited {
    color: #0366d6;
}

a:hover {
    color: #0366d6;
    text-decoration: underline;
}

a.black-link {
    color: black;
    text-decoration: none; /* removes the underline by default */
  }

/* Images */
img.rounded-corners {
    /*border-radius: 0 50% 50% 50%;*/
    border-radius: 50%;
  }


/* Custom containers */
#container {
    width: 75%;
    padding: 5%;
    margin: 5%;
}

#sidebar {
    float: right;
    width: 35%;
    background: #F5F5F5;
    padding: 5%;
    margin: 5%;
    clear: right;
}

#content {
    overflow: hidden;
    padding: 5%;
    margin: 5%;
    margin-left: 10%;
}

.curve {
    width: 60%; /* Adjust the width as needed */
    height: 50vw; /* 50% of the viewport height; adjust as needed */
    background-color: transparent;
    border-radius: 0 100% 100% 0 / 100%;
    border: 2px solid #000;
    text-align: center;
    line-height: 50vw; /* Center the text vertically */
    position: relative;
}