body {
    color: black;
    margin: 5%;
    margin-top: 5%;
 }

 a {
    color: #0366d6;
    text-decoration: none;
}

a:visited {
    color: #0366d6;
}

a:hover {
    color: #0366d6;
    text-decoration: underline;
}




#container {
    width: 450px;
    margin: 0 auto;
}

#sidebar {
    float: right;
    width: 20%;
    background: #dff;
    padding: 5%;
    margin: 5%;
}

#content {
    overflow: hidden;
    background: #fdd;
    padding: 5%;
    margin: 5%;
}
 