body {
    color: black;
    margin: 5%;
    margin-top: 5%;
    width: 90%;
    font-family: 'Times New Roman', Times, serif;
    font-size: small;
 }

#content h2 {
    margin-bottom: 10px; /* adjusting margin after h2 */
}

 /* Links */
a {
    color: #0366d6;
    text-decoration: none;
}

a:visited {
    color: #0366d6;
}

a:hover {
    color: #0366d6;
    text-decoration: underline;
}

a.black-link {
    color: black;
    text-decoration: none; /* removes the underline by default */
  }

/* Images */
img.rounded-corners {
    /*border-radius: 0 50% 50% 50%;*/
    border-radius: 50%;
  }


/* Custom containers */
#container {
    width: 75%;
    padding: 5%;
    margin: 5%;
}

#sidebar {
    float: right;
    width: 35%;
    background: #F5F5F5;
    padding: 5%;
    margin: 5%;
    clear: right;
}

#content {
    overflow: hidden;
    padding: 5%;
    margin: 5%;
    margin-left: 10%;
}

#curve {
    width: 200px; /* Adjust the width to change the curvature */
    height: 200px; /* Adjust the height to change the curvature */
    background-color: transparent; /* Set the background to transparent */
    position: absolute;
    top: 50%; /* Position in the vertical center of the page */
    left: 50%; /* Position in the horizontal center of the page */
    border-radius: 0 100% 100% 0 / 50%; /* Create a quarter circle effect */
    transform: translate(-50%, -50%); /* Center the element */
    border: 2px solid #000; /* Add a border for the curve */
}
 